{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": false,
    "node": true
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "ignorePatterns": ["template", "lib"],
  "overrides": [
    {
      "files": ["*.js"],
      "rules": { "@typescript-eslint/no-var-requires": "off" }
    }
  ]
}
